.cart {
  display: flex;
  margin-top: 1rem;
  justify-content: space-evenly;
}

.cart_products_row {
  display: flex;
  inline-size: 45rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.cart_title {
  font-size: 28px;
  font-family: Avenir;
  color: black;
}

.cart_products_row_info {
  inline-size: 30rem;
}

.cart_products_row_img {
  padding: 10px;
  background-color: rgb(238, 238, 238);
}
