.header {
  display: flex;
  justify-content: space-between;
  height: 4.6rem;
}

.header_logo {
  display: flex;
  margin-left: 5rem;
  align-items: center;
  :hover {
    cursor: pointer;
  }
}
.header_navigation {
  display: flex;
  inline-size: 50vw;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;
  :hover {
    cursor: pointer;
  }
}

.ant-drawer-body {
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.header_shopping {
  display: flex;
  inline-size: 25vw;
  margin-right: 3rem;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.header_wishList {
  font-size: 1.3rem;
  :hover {
    cursor: pointer;
  }
}

.header_cart {
  padding: 0.5rem;
  font-size: 1.3rem;
  :hover {
    cursor: pointer;
  }
}

.cart_quantity_products {
  background-color: black;
  font-size: 0.8rem;
  border-radius: 50%;
  inline-size: 1rem;
  position: absolute;
  margin-left: 0.9rem;
  top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_quantity_text {
  color: white;
  font-weight: bold;
}

.header_nav_el {
  color: black;
  font-family: Avenir;
  font-size: 16px;
  line-height: 16px;
  :hover {
  }
}
