.trendList {
  display: flex;
  margin-bottom: 1rem;
  overflow: auto;
  gap: 1.5rem;
}

.trenList_title {
  font-family: Avenir Next Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}
