.footer {
  display: flex;
  inline-size: 100%;
  justify-content: space-between;
  padding: 3.4rem 3.4rem 3.4rem 3.4rem;
  color: white;
  background-color: black;
  height: 24rem;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55rem;
  }
}

.footer_info {
  display: flex;
  gap: 4rem;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.footer_title {
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  :hover {
    cursor: pointer;
  }
}

.footer_subtitle {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}

.social {
  :hover {
    cursor: pointer;
  }
  @media (max-width: 768px) {
    margin-top: 1rem;
  }
}
