.navigation {
  position: absolute;
  top: 0;
  width: 98.5vw;
}

.main {
  width: 98.5vw;
  margin-top: 3.6rem;
  padding: 1rem;
}

.contentinfo {
  bottom: 0;
  width: 98.5vw;
  height: 22rem;
  background-color: black;
  color: white;
}
