.navigation {
  position: absolute;
  top: 0;
  width: 98.5vw;
}

.main {
  width: 98.5vw;
  margin-top: 3.6rem;
  padding: 1rem;
  min-height: 34vw;
}

.contentinfo {
  display: flex;
  align-items: center;
  height: auto;
}
